@{
    ViewBag.Title = "Account details";
}
<h2>@ViewBag.Title</h2>

@if (ViewBag.Account == "")
{
    <p style="color:red;">You are not logged in</p>
    using (@Html.BeginForm("Login", "Home"))
    {
        <button type="submit" class="btn btn-primary">Log in</button>
    }
}
else
{
    <h3>Welcome : <b style="color:red;">@ViewBag.Account</b></h3>
    <h4><b>Account : @ViewBag.Coins (coins)</b></h4>
}
